body {
   margin: 0;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   background-color: ghostwhite;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

header{
    background-color: cadetblue;
    color: white;
    padding: 1rem 2rem;
    box-shadow: 0 2px 5px ghostwhite;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
    color: black
}

nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
    margin:0;
    padding:0;
}

nav a{
    text-decoration: none;
    color: black;
    transition: color 0.3s;
}

nav a:hover{
    color: darkblue;
}

main{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #2c3e50;
    border-bottom: 2px solid #3498db;
}
